# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#environment
/frontend/.env.local
#modules
/frontend/node_modules
/backend/node_modules

